/* It works. I will bother with making it less horrifyingly terrible later. I am so sorry for what you are about to witness */
/* Layout stuff */
body {+
    color: black;
    background-color: black;
    font-family: Source Code Pro;
    letter-spacing: 8px;
    display: block;
    box-sizing: border-box;
    text-align: center;
}
header {
    background-image: url('/assets/header.png');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
    box-sizing: border-box;
}
@media screen and (max-width: 520px) {
    header {
        background-size: 1380px;
    }
}
img {
    margin-top: 30%;
    width: 50px;
    height: 60px;
}
main {
    height: 2000px;
    background-image: url('/assets/main.png');
    background-position: center;
    position: relative;
    margin-top: 8px;
}
#socials  {
    background-color: transparent;
    position: relative;
    top: 1670px;
    padding: 1%;
    border: 7px solid;
    border-color: black;
    border-radius: 20px;
    left: 50%;
    display: inline-block;
}
#socials-wrapper {
    position: relative;
    left: -50%;
    margin: 0 auto
}
footer {
    background-color: black;
    color: whitesmoke;
    letter-spacing: 0px;
    font-size: 15px;
    padding-top: 2%;
    overflow: hidden;
}
/* Button stuff */
.button {
    background-size: cover;
    line-height: 200px;
    width: 200px;
    text-decoration: none;
    color: transparent;
    border-color: black;
    position: absolute;
    text-align: center;
}
.button-socials {
    margin: auto;
    background-size: cover;
    line-height: 130px;
    width: 130px;
    text-decoration: none;
    color: transparent;
    border-color: black;
    position: absolute;
}
span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
#button-bandcamp {
    background-image: url('/assets/bandcamp.png');
    top: 520px;
    left: 50%;
    margin-left: 60px;
}
#button-twitch {
    background-image: url('/assets/twitch.png');
    top: 855px;
    right: 50%;
    margin-right: 60px;
}
#button-art {
    background-image: url('/assets/art.png');
    top: 1185px;
    left: 50%;
    margin-left: 60px;
}
#button-twitter {
    position: relative;
    background-image: url('/assets/twitter.png');
    background-color: transparent;
    display: inline-block;
}
#button-youtube {
    position: relative;
    background-image: url('/assets/youtube.png');
    background-color: transparent;
    display: inline-block;
}
.button:hover {
    color: whitesmoke;
}
.button-dim:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 780px) {
    .button {
        line-height: 130px;
        width: 130px;
    }
    #button-bandcamp {
        top: 560px;
        margin-left: 50px;
    }
    #button-twitch {
        top: 885px;
        margin-right: 50px;
    }
    #button-art {
        top: 1220px;
        margin-left: 50px;
    }
    .button-socials {
        line-height: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 380px) {
    #button-bandcamp {
        top: 560px;
    }
    #button-twitch {
        top: 885px;
    }
    #button-art {
        top: 1220px;
    }
    .button-socials {
        line-height: 100px;
        width: 100px;
    }
}
/* Style text */
#moosic {
    position: absolute;
    top: 225px;
    right: 50%;
    margin-right: 60px;
}
@media screen and (max-width: 400px) {
    #moosic {
        margin-right: 40px;
    }
}
